@charset "UTF-8";

@media screen and (min-width: 768px) {

    body {
        font-size: 0.875rem;
    }

    main {
        width: 384px;
    }

    main > section > h1 {
        font-size: 1.5rem;
    }

    p.desc {
        font-size: 1rem;
    }

    main:hover {
        box-shadow: 16px 16px 0 rgb(0, 0, 0);
        cursor: pointer;
        transition: 0.5s ease;
    }

    main:hover h1 {
        color: var(--color01);
        transition: 0.5s ease;
    }
}